[Unit]
Description=Documize the free Confluence Alternative
Requires=Network.target
After=postrgres

[Service]
Type=simple
User=vagrant
ExecStart=/opt/documize/documize-community-linux-amd64 settings.toml

[Install]
WantedBy=multi-user.target