[Unit]
Description=Documize the free Confluence Alternative
Requires=network.target
After=postgresql.service

[Service]
Type=simple
User=documize
WorkingDirectory=/opt/documize/
ExecStart=/opt/documize/documize-community-linux-amd64 settings.toml

[Install]
WantedBy=multi-user.target
